# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit config (if you don't want to commit secrets/themes)
.streamlit/secrets.toml

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.vscode/
.idea/
